img{
    width: 100%;
    border-radius: 30px;
}

.menu{
    
}

.menu-items{
    display: flex;
    margin: auto;
}

.matcha{
    margin: auto;
    margin-left: 0;
    width: 30%;
}


.description{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description p{
    font-size: 1.5rem;
    margin-left: 20px;
    color: rgb(152, 109, 62);

}
